.user-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  h1 {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    color: #333;
  }

  .add-user-section {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 16px;
    color: #333;

    .add-user-link {
      color: #007bff;
      text-decoration: underline;
      font-size: 16px;
      cursor: pointer;
      margin-left: 5px;

      &:hover {
        color: #0056b3;
      }
    }
  }

  .filters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;

    .search-refresh-group {
      display: flex;
      align-items: center;
      flex: 2;

      .search-bar {
        margin-inline: 10px;
        width: 300px;
        padding: 8px;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid #ccc;
      }

      .refresh-button {
        margin-left: 30px;
        padding: 6px 8px;
        font-size: 16px;
        background-color: #1b4281;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: #517c90;
        }
      }
    }

  }
  
}
