.filter-group {
      margin-inline: 30px;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 120px;
      font-family: 'Roboto', sans-serif;
  
      .filter-label {
        font-size: 12px;
        margin-bottom: 1px;
        font-weight: 500;
        color: #555;
      }
  
      .filter-dropdown {
        padding: 6px;
        font-size: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
    }
  
  