.user-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 14px;
      background-color: #f2f2f2;
      color: #333;
      padding: 15px;

      &.sortable-header {
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  td{
    font-size: 14px;
    padding: 15px;
  }

  .edit-btn,
  .delete-btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
  }

  .edit-btn {
    background-color: #0e2538;
    color: white;

    &:hover {
      background-color: #7e8891;
    }
  }

  .delete-btn {
    background-color: #560b05;
    color: white;

    &:hover {
      background-color: #805855;
    }
  }